#app {
  min-height: 100vh;
  position: relative;

  footer {
    position: relative;
    bottom: 0px !important;
    top: 100%;
    left: 0;
  }
}

nav {
  padding: 0 20px;
}

.input-field {
  margin: 20px auto 40px;
  float: none !important;
}

.form {
  margin-top: 40px;
}

.textarea {
  min-height: 100px !important;
}

.detailtextarea {
  min-height: 100px !important;
}

.wrapper {
  min-height: 80.4vh;
}

.description {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes moveInUp {
  0% {
    transform: translateX(0);
    position: absolute;
  }
  100% {
    position: absolute;
    transform: translateX(400px);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.component-enter-active {
  animation: fadeIn .4s ease-in;
}

.component-leave-active {
  animation: moveInUp .1s ease-in;
}